.ActionButtons {
  position: absolute;
  z-index: 1;
  top: 4px;
  right: 40px;
  color: #fff;
  width: 100%;
  max-width: 212px;

  &__button {
    display: inline-block;
    vertical-align: middle;
    margin: 0 2px;
    border: 2px solid transparent;
    border-radius: 3px;
    cursor: pointer;

    &:hover, &.selected {
      &.ActionButtons__button {
        &--move {
          border-color: $move;
        }
        &--attack {
          border-color: $attack;
        }
        &--turn {
          border-color: $turn;
        }
        &--pass {
          border-color: $pass;
        }
        &--surrender {
          border-color: $surrender;
        }
      }
    }
  }
}
