.Button {
  background-color: #77715b;
  border: 1px solid #f3eee8;
  color: #f9eed0;
  display: inline-block;
  font-size: 10px;
  padding: 2px 10px;
  cursor: pointer;
  transition: background-color .3s ease;
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: #a09778;
  }
}
