.Chat {
  $height: 150px;
  $messageBoxHeight: 46px;

  font-size: .75rem;
  width: 100%;
  height: $height + $messageBoxHeight;
  color: $grey;

  &__scrollbar {
    //
  }

  &__content {
    $spacing: 5px;

    height: 100%;
    margin-top: $messageBoxHeight + $spacing;
    padding-left: 10px;
    padding-right: 10px;
  }

  &__messages {
    overflow: hidden;
    flex: 1;
  }

  &__message {
    white-space: pre-line;

    &--game {
      color: $green;
    }

    &--player {
      color: $grey;
    }

    &--command-error {
      color: $commandError;
    }

    &--command-feedback {
      color: $commandFeedback;
    }
  }

  &__players {
    text-align: right;
  }

  &__player {
    //
  }

  &__message-box {
    width: 100%;
    margin-bottom: -$messageBoxHeight;

    label {
      margin-bottom: 0;
    }

    input {
      $borderWidth: 1px;

      width: 100%;
      padding: 0 5px;
      height: 30px - ($borderWidth * 2);
      background-color: #363636;
      border: $borderWidth solid #3e3e3e;
      color: #fff;

      &:focus {
        outline: 0;
      }
    }
  }
}
