.Login {
  $borderWidth: 1px;

  font-size: 10px;
  color: #f9eed0;

  h1 {
    font-size: 20px;
  }

  &__input-group {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
  }

  &__buttons {
    text-align: right;
  }

  .Button {
    text-align: center;
  }

  form {
    width: 100%;
    max-width: 260px;
    margin: 40px auto;
  }

  label {
    color: #f9eed0;
    margin-right: 20px;
    text-align: right;
    flex: 1;
  }

  input {
    padding: 0 5px;
    height: 30px - ($borderWidth * 2);
    background-color: #363636;
    border: $borderWidth solid #3e3e3e;
    color: #fff;
    width: 145px;

    &:focus {
      outline: 0;
    }
  }
}
