.SettingButtons {
  position: absolute;
  z-index: 1;
  top: 400px;
  right: 40px;
  color: #fff;
  width: 100%;
  max-width: 150px;
  text-align: right;

  &__button {
    background-color: #77715b;
    border: 1px solid #f3eee8;
    color: #f9eed0;
    display: inline-block;
    font-size: 10px;
    padding: 2px 10px;
    cursor: pointer;
    transition: background-color .3s ease;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      background-color: #a09778;
    }
  }
}
