.UnitStats {
  position: absolute;
  z-index: 1;
  top: 20px;
  left: 40px;
  color: #fff;
  width: 100%;
  max-width: 176px;

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: #fff;
    margin-bottom: 5px;
  }

  &__img {
    width: 52px;
    height: 48px;
    margin-left: auto;
  }

  h3 {
    font-size: 11px;
  }

  h4 {
    font-size: 10px;
  }

  p {
    font-size: 10px;
    margin-bottom: 5px;
  }
}
