@import "../../../node_modules/bootstrap/scss/bootstrap";

@import "Partials/Colors";
@import "Partials/Fonts";

html, body, #app, #game {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Droid Sans Mono", monospace;
  position: relative;
  background-color: #000;
}

#game {
  margin-left: auto;
  margin-right: auto;
}

canvas {
  display: block;
  margin: 0 auto;
}

@import "Components/UnitStats";
@import "Components/ActionButtons";
@import "Components/SettingButtons";
@import "Components/Button";
@import "Components/Chat";
@import "Components/Login";
