$move: rgba(0, 136, 255, 1);
$attack: rgba(255, 136, 0, 1);
$turn: rgba(255, 233, 145, 1);
$pass: rgba(222, 216, 213, 1);
$surrender: rgba(222, 216, 213, 1);
$green: rgba(134, 255, 132, 1);
$grey: rgba(200, 200, 200, 1);
$commandError: rgba(249, 84, 84, 1);
$commandFeedback: rgba(86, 186, 249, 1);
